:root {
  --background-dark-color: #1C1A19;
  --btn-bg: #FDBF5A;
  --btn-active-bg: #FFA842;
  --btn-disabled-bg: #D8D7D5;
  --btn-color: #000;
  --btn-active-color: #000;
  --btn-disabled-color: #737373;
}

#root {
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
}

main {
  flex: 1;
}